$dark-gray: #0C0F13;
$faded-gray: #8B8C93;
$dark-teal: #151C1D;
$darkest-blue: #0A0B12;
$light-gray: #4E4F56;
$indigo: #4453D7;
$white: #ffffff;
$red: #D74444;

$white-border-template: 1px solid $white;

body{
    background-color: $darkest-blue;
    color: $white;
    font-family: Archivo;
    padding: 0px;
    margin: 0px;
    .logo{
        font-family: Haettenschweiler;
        letter-spacing: 2px;
    } 
    
    .App{
        margin: auto; 
        .content{
            max-width: 1920px;
            margin: auto;
            width: 100%; 
            div{
                border-radius: 4px;
            }
        }
    } 

    p{
        margin: 0px;
    }
    h1, h2, h3{
        margin: 0px;
    }
    input, select, textarea{  
        color: white;   
        background-color: $dark-teal; 
        outline: none; 
        box-shadow: none;
        border: 1px solid $faded-gray;
        border-radius: 4px;
    }
    textarea{
        resize: none;
    }
} 
nav{
    display: flex; 
    gap: 60px;
    align-items: center;
    padding: 26px 35px ;
    height: 80px;
    background-color: $dark-teal; 
    h1{
        margin: 0px;
        // font-size: 26px;
    }
    ul{ 
        margin: 0px;
        padding: 0px;
        li{
            color: $faded-gray;
            margin: 0px 5px;
            display: inline-block;
            width: fit-content;
            font-size: 16px;
        }
    }
}

.login-signup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
    .carousel-container{  
        .carousel{
            position: relative;
            margin-left: 50px;
            height: fit-content; 
            .carousel-item{
                overflow: unset;
            }
            .carousel-indicators button{
                display: none;
            }
            img{
                width: auto;
                margin: auto;
                height: 500px;
            }
            .carousel-caption{
                position: relative;
                top: -9px;
                margin: 0px;
                padding: 10px;
                text-align: left;
                width: 100%;
                height: 100px;
                div{
                    position: absolute; 
                    width: 600px;
                    right: 60px;
                }
                h3{ 
                    font-weight: bold;
                    font-size: 24px;
                    margin: 0px;
                }
                p{
                    padding-left: 30px; 
                    font-size: 16px;
                }
            } 
        }
        .title{
            margin: 50px 100px 0px;
            h1{
                font-size: 64px;
                margin: 0px;
            }
            p{
                margin-left: 20px;
            }
        }
        img{
            width: 1000px;
        }
    }
    .form-container{
        justify-self: center;
        position: relative;
        background-color: $dark-gray; 
        padding: 20px 0px;
        width: 571px;
        height: 830px;
        border: solid 1px $light-gray;

        p{
            text-align: center;
            padding-top:16px;
            font-size: 12px; 
        }

        .form-div{
            transition: ease-in-out all 0.5s;
            text-align: initial;
            margin: 93px 55px 0px;
            height: 625px;
            .form-header{
                width: 395px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 12px;
                align-items: baseline;
                h2{
                    font-size: 24px;
                    font-weight: bold;
                }
                p{
                    text-align: right;
                    font-size: 12px;
                    width: unset;
                }
            }
            form{ 
                position: relative;
                font-size: 20px;
                color: $faded-gray;
                width: fit-content;
                label{
                    display: block;
                    margin-bottom: 0px;
                } 
                input{
                    color: white;
                    width: 395px;
                    height: 50px; 
                    background-color: $dark-teal; 
                    outline: none; 
                    box-shadow: none;
                    border: 1px solid $faded-gray;
                    border-radius: 4px;
                    font-size: 16px;
                    padding: 15px 17px;
                } input::placeholder{
                    color: #6c757d;
                    
                    align-self: center;
                    opacity: 1;
                } 
                .password-div{
                    position: relative;
                    color: white;
                    width: 395px;
                    height: 50px; 
                    background-color: $dark-teal; 
                    outline: none; 
                    box-shadow: none; 
                    border-radius: 4px;
                    font-size: 16px; 
                    display: flex;
                    align-items: center; 
                    input{
                        color: white;
                        width: 395px;
                        height: 50px; 
                        background-color: $dark-teal; 
                        outline: none; 
                        box-shadow: none;
                        border: 1px solid $faded-gray;
                        border-radius: 4px;
                        font-size: 16px;
                        padding: 15px 17px;
                    }
                    button{
                        border: none;
                        padding: 0px; 
                        position: absolute;
                        right: 10px;
                    } 

                    .eye-closed{
                        background-image: url("../images/eye_closed.svg");
                        width: 20px;
                        height: 20px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    } .eye-closed:hover{
                        background-color: transparent;
                    }

                    .eye-open{
                        background-image: url("../images/eye_open.svg");
                        width: 20px;
                        height: 20px;   
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    } .eye-open:hover{
                        background-color: transparent;
                    }
                }
                button{ 
                    position: absolute;
                    right: 0;
                    border: $indigo 1px solid;
                    outline: none;
                    background: none;
                    border-radius: 4px;
                    color: white;
                   padding: 13px 32px; 
                   font-size: 16px;
                   transition: 0.2s;
                } button:hover{
                    background-color: $indigo;

                }
                span{
                    margin: 2px 0px 0px;
                    display: block;
                    color: $red;
                    font-size: 14px;
                    padding-left: 10px;
                }
            }
            
        }
        .flipped{
            margin-left: 13px;
        }
        
    }

    .flipped{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);  
    }
}

.overview{
    width: fit-content;
    margin: auto;
    $border-width: 2px;
    $gray-border-template: $border-width solid $faded-gray;

   
    display: flex;
    gap: 10px;
    padding: 10px;  
    .header{
        background-color: $darkest-blue;
        border: $gray-border-template; 
        height: 70px;
    }
    .project-list{
        width: calc(180px);
        background-color: $dark-teal;
        height: 895px;
        .header{
            display: flex;
            align-items: center;  
            flex-direction: column;
            text-align: center;
            padding: 7px 5px;
            border-radius: 0px 0px 0px 0px;
            margin-bottom: 10px;
            h2{
                font-size: 18px;
                margin: 0px 0px;
            }
            button{
                width: 140px;
                font-size: 14px;
                background: none;
                border: $gray-border-template;
                color: white;
                border-radius: 25px;
                transition: all 0.2s;
                img{
                    margin-right: 5px;
                    width: 12px;
                    transition: all 0.2s;
                }
            } button:hover{
                background-color: $faded-gray; 
                img{
                    width: 0px;
                }
            }
        }
        .body{

            a{
                color: $light-gray;
                padding: 3px 6px;
                background-color: $darkest-blue;
                border: 1px $light-gray solid;
                border-radius: 4px;
                width: 170px;
                margin: 0px auto 5px;

                display: block;
            }
        }
    }
    .overview-content{
        background-color: $dark-teal;
        width: 1200px;
        h2{
            font-size: 18px;
            margin: 0px;
        }
        h3{
            font-size: 16px;
            margin: 0px;
        }
        .header{
            display: grid;
            // grid-template-areas:
            //     "title created-at delete"
            //     "target-completion project-status edit";
            height: 70px;
            grid-template-columns: 2fr 2fr 60px;
            align-items: center;
            .title{
                text-align: left;
            }
            div{
                text-align: right;
                padding: 0px 10px;  
            }
        }
        .content{
            padding: 10px 5px;
            display: grid;
            grid-template-areas:
                "desc hist details"
                "kanban kanban details";
            grid-template-columns: 515px 515px 150px;
            grid-template-rows: 300px min(510px);
            gap: 5px;
            .header{
                background: none;
                border: none;
                height: fit-content;
                display: flex;
                gap: 5px;
            }
            .description{
                grid-area: desc;
                background-color: $darkest-blue;
                border: $gray-border-template;

                .body{
                    width: 100%;
                    height: 265px;
                    word-wrap: break-word;
                    padding: 5px 15px;
                }
            }
            .history{
                grid-area: hist;
                background-color: $darkest-blue;
                border: $gray-border-template;

                .body{
                    width: 100%;
                    height: 265px;
                    word-wrap: break-word;
                    padding: 5px 15px;
                }
            }
            .kanban{
                grid-area: kanban;
                background-color: $darkest-blue;
                border: $gray-border-template;

                .board{
                    display: flex;
                    gap: 10px;
                    padding: 0px 20px;
                    .list{
                        display: flex;
                        flex-direction: column;
                        width: 200px;

                        .body{
                            background-color: $dark-teal;
                            padding: 5px;
                            .list-item{
                                padding: 4px 6px;
                                border: 1px $white solid;
                                width: 190px;
                                margin: 0px auto 5px;
                                background-color: $darkest-blue;
                                *{
                                    margin: 0px;
                                }
                            }
                            .add-item{
                                display: flex;
                                padding: 4px 6px;
                                border: 1px $white solid;
                                width: 190px;
                                margin: 0px auto 5px;
                                background-color: $darkest-blue;
                                border-radius: 4px;
                                input{
                                    width: 145px;
                                }
                            }
                        }
                    }
                }                
            }
            .details{
                grid-area: details;
                background-color: $darkest-blue;
                border: $gray-border-template;
                height: 814px;
                
                h2{
                    text-align: center;
                }
                .project-type{
                    
                }
                .tags{
                    width: 100%;
                    .body{
                        #add-tag{ 
                            margin: 0px auto 5px;
                            border: $white-border-template;
                            width: 130px;
                            border-radius: 4px;
                            font-size: 14px;
                            display: flex;
                            input{
                                width: 105px;
                                padding: 2px 5px;
                                outline: none;
                                background: none;
                                color: $white;
                                border: none;
                            }
                            button{
                                width: 20px;
                                height: 20px;
                                text-align: center;
                                padding: 0px;
                                margin: 0px;
                            }
                        }
                        p{
                            font-size: 14px;
                            margin: 0px auto 5px;
                            padding: 2px 5px;
                            width: 130px; 
                            border-radius: 4px;
                            background-color: $red;
                        }
                    }
                }
                .team-members{
                    .body{
                        p{
                            font-size: 14px;
                            margin: 0px auto 5px; 
                            padding: 2px 5px;
                            width: 130px; 
                            border-radius: 4px; 
                            border: $white-border-template;
                        }
                        
                    }
                }
            }
        }
    }
    .modal-bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        .modal{

            position: relative;
            display: flex;
            flex-direction: column; 
            margin: auto;
            height: fit-content;
            width: 800px;
            padding: 40px;
            // background-color: $darkest-blue;
            background-color: $darkest-blue;
        
            form{ 

                 input, select, textarea{ 
                    display: block;
                    color: white; 
                    width: 395px;
                    min-height: 50px;
                    background-color: $dark-teal; 
                    outline: none; 
                    box-shadow: none;
                    border: 1px solid $faded-gray;
                    border-radius: 4px;
                    font-size: 16px;
                    padding: 15px 17px;
                    margin: 0px 0px 10px;
                }
                button{
                    width: 300px;
                }
            }
           
        }
    }
}